data/lacerda/Pesquisa Empírica
.Rproj.user
data/lacerda/tjsp_drugs/sentences/*.html
data/lacerda/tjsp_drugs/sentences/*/*.html
data/lacerda/tjsp_drugs/sentences/pdf/*.pdf
*.Rproj
*.Rproj.user
*.Rproj.session
*.Rhistory
data/lacerda/tjsp_drugs/sentences/*/*.pdf
data/lacerda/tjsp_drugs/sentences/manual_download/empty_files/*.pdf
data/lacerda/tjsp_drugs/sentences/manual_download/metadata/*.html
data/lacerda/tjsp_drugs/sentences/*/*.xlsx
data/*/*.arrow
*/*.arrow
read_pdf/
llama_3.2_ft/cache/*
gemma3/unsloth_compiled_cache/*
gemma3/gemma-3-12/*
gemma3/gemma-3-finetune-12b/*
gemma3/test_lora/*
.vscode/*
data/train/*
data/valitation/*
data/test/*
data/lacerda/*
data/*
.env
gemma3/*
*.safetensors
*safetensors*
open_source_models/ft_*/*
open_source_models/output*
open_source_models/unsloth_compiled_cache/*
open_source_models/wandb/*
