data/lacerda/Pesquisa Empírica
.Rproj.user
data/lacerda/tjsp_drugs/sentences/*.html
data/lacerda/tjsp_drugs/sentences/*/*.html
data/lacerda/tjsp_drugs/sentences/pdf/*.pdf
*.Rproj
*.Rproj.user
*.Rproj.session
*.Rhistory
data/lacerda/tjsp_drugs/sentences/*/*.pdf
data/lacerda/tjsp_drugs/sentences/manual_download/empty_files/*.pdf
data/lacerda/tjsp_drugs/sentences/manual_download/metadata/*.html
data/lacerda/tjsp_drugs/sentences/*/*.xlsx
data/*/*.arrow
*/*.arrow
*.arrow
.env
data/hidden/*

doc/paper/_manuscript/*
doc/paper/_manuscript/*/*/
doc/paper/_manuscript/_tex/index.tex
doc/paper/_manuscript/index.pdf
open_source_models/fine_tune_models/*
data/raw_tjsp_drug_cases_2024.parquet
data/clean_tjsp_drug_cases_2024.parquet
doc/paper/_manuscript/index.pdf
doc/paper/_manuscript/_tex/index.tex
doc/_tex
doc/paper/_manuscript
doc/paper/_freeze/*/*/*